
$base-color: #F78181;
$font-size-title: 40px;
$font-size-subtitle: 14px;
$font-size-priority: 13px;
$font-size-bug-title: 22px;
$font-size-base: 17px;
$font-family:  sans-serif;
$white: #fff;
$required-color: #F00;
$border-required: 2px solid #F00;
$table-color: #d83d3d;
$border-div: 3px solid #eee;
$bug-button-color: #f78181;
$bug-div-high: #f3cbcb;
$bug-div-medium:  #c9e2cb;
$bug-div-low: #f0f5c5;
$bug-priority-high: #9e0d0d;
$bug-priority-medium: #0b6f0b;
$bug-priority-low: #92920a;
$border-high: 10px #ea8686 solid;
$border-medium: 10px #9dc1a0 solid;
$border-low: 10px #f0f5c5 solid;