@import "variables";
@import "base";

	.header {
		background: $base-color;
		padding: 15px;
		color: $white;

		h1 {
			font-size: $font-size-title;
			margin: 0; 
		}

		h2 {
			font-size: $font-size-subtitle;
			margin: 0;
		}
	}

	.form {
		padding: 20px;

		fieldset {
				border: 0;
			
			.title-input {
				width: 350px;
				height: 30px;
			}

			.email-input {
				width: 250px;
				height: 30px;
			}

			.description-textarea {
				width: 350px;
				vertical-align: middle;
			}

			.select {
				width: 250px;
				height: 30px;
			}

			.options {
				display: inline-table;
				padding: 0px;
			}

			.browser-label, .type-label {
				vertical-align: top;
			}

			.radio-group, .checkbox-group {
				display: inline-block;
						
				label {
					display: block;
					padding: 10px 0px;
				}
			}

		}

		.button-content {
			text-align: center;

			.submit {
				background-color: $base-color;
				color: $white;
				padding: 5px 10px;
				font-size: $font-size-base;
				border: none;
			}
		}
	}

	.input-validate {
		border: $border-required;
	}
	.msg {
		color: $required-color;
	}