@import "variables";



li {
	list-style-type: none;
	a {
		color: $secondary-color;
		font-size: $font-size-content-large;
		text-decoration: none;
		font-weight: $font-weight;
		font-family: $font-family;
	}
}