@import "variables";

$border-bottom: 3px solid $font-color;

header {
	height: 120px;
	background: $background-color;
	font-family: $font-family;
	.logo-content {
		display: inline-block;
		margin-left: 30px;
		p {
			color:$font-color;
			font-size:40px;
			float: left;
		}
		.title-2 {
			position: relative;
    		z-index: 1;
		}
		.logo {
			height: 70px;
		    position: relative;
		    float: left;
		    z-index: 2;
			margin-top: 28px;
    		margin-right: -16px;
   			margin-left: -13px;
		}
	}
	.menu-content {
		text-align: right;
		float: right;
		margin:35px 50px;
		.header-menu {
			display: inline-block;
			@import "link";
			li {
				float:left;
				a {
					border-bottom: $border-bottom;
					padding: 10px;
					&:focus {
					color:#fff;
					border-bottom: 3px solid #fff;
					}
				}
				
			}
		}
	}
}

.content {
	margin: 40px;
	.subcontent {
		overflow: auto;
	}
	.content-img {
		float: left;
		width:55%;
		border: 3px solid black;
		box-shadow: $shadow;

	}

	.content-menu {
		float:right;
		@import "link";
		width: 25%;
   		margin: 0 40px 0px 0px;
   		padding: 0;
    	box-shadow: $shadow;
		li {
			background: $font-color;
			border-top: 0.5px solid lighten($background-color,20%);
			text-align: center;
			padding:15px;
			&:first-child {
				border-top: none;
			}
			&:focus, a:focus { /* veeeeeeeer como mierda es */
				background:$background-color;
				color:$font-color;
			}
			a {
				color: $background-color;
			
				span {
					color:#fff;
				}
				
			}
		}
	}
	.paragraph {
		clear: both;
		font-family: $font-family;
    	font-size: 20px;
	}
}

.footer{
	background:$background-color;
	height: 45%;
	 .footer-content {
	  .footer-menu {
		display: inline-block;
		margin:40px;
		width: 20%;
		@import "link";
		border-left: 2px solid $font-color;
		padding-left: 15px;
		li {
			padding:5px;
			a:focus {
				color:#fff;
			}
		}
		}
		
	}
	.copyright {
		text-align: center;
		background: $font-color;
		font-family: $font-family;
		color:$background-color;
		font-size: 14px;
    	padding: 10px;
    	margin: 20px 40px;
	}
}
